
.button-home{
    margin: 15px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid wheat;
    font-weight: bold;
    width: 120px;
    height: 40px;
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    opacity: 0.8;
    cursor: pointer;
}
.button-home:hover{
    opacity: 1;
    transition:1s;
}
.error{
    color:red;
    font-weight: bold;
    background-color: rgb(175, 177, 178);
}

.contenedor{
    background-image:url('./imagenes/Diseño\ sin\ título\ \(3\).png');
    background-repeat: repeat;
    position: absolute;
    min-height: 100vh;
    width: 100%;
}

.form{
    padding: 60px;
    max-width: 400px;
    background-color: #535050;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 30px;  
    border: black solid 2px;
}
  .form input, .form textarea, .form select{
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    color: #000000; 
    font-size: 1em;
    resize: none; 
  }

  .form input:focus{
    outline: none;
  }

  .form textarea:focus{
    outline: none;
  }

  .form button {
      display: inline-block;
      background-color: #1d1b1b;
      padding: 10px 45px 10px 45px;
      border: 0;
      font-weight: bold;
      border-radius: 30px;
      border: 2px solid black;
      font-size: 1em; 
      color: 	white;
    cursor: pointer;
  }
  .form button:hover{
      background-color: #323131;
      transition: 1s;
  }
  textarea {  resize: none;}

.contenedor-principal{
    margin: 4px;
    padding: 12px;
    box-sizing: border-box;
}

.container-recipecreada{
        margin:1px;
        background-color: red;
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 50px;
        margin-top:50px;
        background-image: url(https://i.pinimg.com/originals/12/6f/15/126f155568365be572906538869a611d.jpg);
        padding: 2px;
        top: 230px;
        right: 213px;
        border-radius: 30px;
        box-shadow: 0px 0px 0px 5px black;
}

.recipe-title{
    display: block;
    width: max-content;
    height: max-content;
    margin: auto;
    padding-top: 30px;
    color: rgb(231, 231, 231);
}

.recipe-img{
    padding: 30px;
    margin: 10px;
    height: fit-content;
    object-fit: contain;
    border-radius: 10%;
}

.tu-receta{
    font-size: 35px;
    color: rgb(231, 231, 231);
}
