.contenedor-loader{
    background-image: ('./imagenes/fondoHome.png');
    min-height: 100vh;
    display: block;
    height: max-content;
    width: max-content;
    margin: auto;
    background-color: red;    
}

.loader{
    position: fixed;
    z-index: 999;
    height: 140px;
    width: 100px;
    overflow: show;
    margin: auto;
    right: 1000px;
}

.loading{
    font-weight: bold;
    position: fixed;
    z-index: 999;
    height: 140px;
    width: 100px;
    overflow: show;
    margin: auto;
    right: 1000px;
    top: 620px;
}