.input-search{
    display: block;
    background-color: rgb(67, 67, 67);
    height: max-content;
    width: max-content;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8%;
}

.input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.button{
    cursor: pointer;
    border: none;
    background-color: rgb(23, 23, 23);
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10%;
}

.button:hover{
    background-color: rgb(31, 30, 30);
}