.input-search{
    display: block;
    background-color: rgb(15, 15, 15);
    height: max-content;
    width: max-content;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 3px solid white;
}

.input{
    background-color: rgb(36, 35, 35);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
}

input:focus{
    outline: none;
}

.button{
    cursor: pointer;
    border: none;
    background-color: rgb(23, 23, 23);
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10%;
}

.button:hover{
    background-color: rgb(31, 30, 30);
}